---
layout: page
title: Blog
header: Blog
group: navigation
---
{% include JB/setup %}

<p>Most of my articles were written in Chinese, my first language. But some posts are in English listed below. </p>
<p>Some articles were written before, the summer of 2013, the establishment of this website.  All articles express the feelings, opinions and memories of mine.  
</p>
<p> You can subscribe the blog by <a href=/rss.xml>RSS</a>.</p>
<p>大部分文章都是中文，也有少数英文列于其下。 此网站建立于2013年的夏天。所以有些文章是在这个网站建立之前写的，于此存档。于此你可以了解我对世界的看法和感想。</p>
<p>可通过<a href=/rss.xml>RSS</a>订阅此博客</p>
<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>
</br>

{% for category in site.categories %} 
  {% if category[0] == "cn" %}
  <h1 id="{{ category[0] }}-ref">中文文章<!-- {{ category[0] | join: "/" }} --></h1>
  <ul>
    {% assign posts_collate = category[1] %}  
    {% include JB/posts_collate %}
  </ul>  
  {% endif %}
  {% if category[0] == "en" %}
  <h1 id="{{ category[0] }}-ref">Enlgish Articles<!-- {{ category[0] | join: "/" }} --></h1>
  <ul>
    {% assign posts_collate = category[1] %}  
    {% include JB/posts_collate %}
  </ul>  
  {% endif %}
{% endfor %}

